<form method="post" action="/brands" >
	<label>Name:</label>
	<textarea name="name"></textarea>
	<br>
	<label>Description:</label>
	<textarea name="description"></textarea>
	<BUTTON >Go!!!</BUTTON>
</form>