<form method="post" action="/products" >
	<label>Name:</label>
	<input name="name"></input>
	<br>
	<label>Brand_name:</label>
	<input name="brand_name"></input>
	<br>
	<label>Category_name:</label>
	<input name="category_name"></input>
	<br>
	<label>Price:</label>
	<input name="price"></input>
	<br>
	<label>Quantity:</label>
	<input name="quantity"></input>
	<br>
	<BUTTON >Go!!!</BUTTON>
</form>