<h1>Hello, Rails babies</h1>
<p></p>
<form id="login" method="post">
	<p>Username: </p>
	<input type="text" name="username">
	<p>Password: </p>
	<input type="password" name="pass">
	<button type="submit" value="Submit">Go go go</button>
</form>
