
<form id="reg" method="post">
	<p>Username: </p>
	<input type="text" name="username">
	<p>Password: </p>
	<input type="password1" name="pass">
	<p>Retype password:</p>
	<input type="password2" name="pass">
	<button type="submit" value="Submit">Go go go</button>
</form>

