<h1>Lectures</h1>
 <table>
  <% @lectures.each_with_index do |lecture, index| %>
    <tr>
      <th><%= "#{index + 1}." %> </th>
      <th><%= link_to lecture.name, lecture %></th>
    </tr>
  <% end %>
 </table>